@font-face {
  font-family: 'yg-jalnan';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

*, *:before, *:after {
  margin:0;
  padding:0;
  box-sizing:border-box;
}

* {
  box-sizing: border-box;
}

html, body {
  position: relative;
  font-family:'yg-jalnan';
  width: 100%;
  height: 100%;
}

body {
  background-color: #f6f6f6;
  background-image:
  linear-gradient(90deg, #cdcccc 0px, #cdcccc 1px, transparent 1px, transparent 99px,  transparent 100px),
  linear-gradient(#cdcccc 0px, #cdcccc 1px, transparent 1px, transparent 99px,  transparent 100px),
  linear-gradient(#e0e0e0 0px, #e0e0e0 1px, transparent 1px, transparent 99px,  transparent 100px),
  linear-gradient(90deg, #e0e0e0 0px, #e0e0e0 1px, transparent 1px, transparent 99px,  transparent 100px),
  linear-gradient(transparent 0px, transparent 5px, #f6f6f6 5px, #f6f6f6 95px, transparent 95px, transparent 100px),
  linear-gradient(90deg, #e0e0e0 0px, #e0e0e0 1px, transparent 1px, transparent 99px, #e0e0e0 99px, #e0e0e0 100px),
  linear-gradient(90deg, transparent 0px, transparent 5px, #f6f6f6 5px, #f6f6f6 95px, transparent 95px, transparent 100px),
  linear-gradient(transparent 0px, transparent 1px, #f6f6f6 1px, #f6f6f6 99px, transparent 99px, transparent 100px),
  linear-gradient(#cdcccc, #cdcccc);
  background-size:100px 100%, 100% 100px, 100% 10px, 10px 100%, 100% 100px, 100px 100%, 100px 100%, 100px 100px, 100px 100px;
}

@keyframes blink-effect {
  50% {
    opacity: 0;
  }
}

.blink {
  animation: blink-effect 1s step-end infinite;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  align-items: center;
  user-select: none;
}

.intro__title {
  font-size: 62px;
  padding: 10px;
  margin-bottom: 20px;
  --c: #908b8b; /* the color */
  --s: .15em;
  line-height:1.1em;
  padding-bottom: calc(2.1*var(--s));
  background: 
    conic-gradient(from 135deg at top,var(--c) 90deg,#0000 0) 
      left 0 bottom var(--s)/calc(2*var(--s)) var(--s) repeat-x,
    conic-gradient(from -45deg at bottom,var(--c) 90deg,#0000 0) 
      left var(--s) bottom 0/calc(2*var(--s)) var(--s) repeat-x;
  -webkit-mask:
    linear-gradient(#000 0 0) content-box,
    linear-gradient(#000 0 0) 0/var(--_p,0%) padding-box no-repeat;
  transition: .5s;
}

.intro__title:hover {
  --_p: 100%;
  color: var(--c);
}

.next {
  text-align: left;
  color: #a4a4a4;
  font-size: 14px;
}


@keyframes shakeIt_first{
  0%, 60%{
    transform: rotate(0deg) translateY(120px);
  }
  20%, 45% {
    transform: rotate(2deg) translateY(120px);
  }
  10%, 30% {
    transform: rotate(-2deg) translateY(120px);
  }
}

@keyframes shakeIt_second{
  0%, 60%{
    transform: rotate(-8deg);
  }
  20%, 45% {
    transform: rotate(-6deg);
  }
  10%, 30% {
    transform: rotate(-10deg);
  }
}

@keyframes shakeIt_third{
  0%, 60%{
    transform: rotate(4deg);
  }
  20%, 45% {
    transform: rotate(6deg);
  }
  10%, 30% {
    transform: rotate(2deg);
  }
}

.cards {
  display: none;
  cursor: pointer;
  padding: 10px;
  width: 290px;
  height: 300px;
  background-color: white;
  }


.first {
  position: absolute;
  top: -10px;
  left: 650px;
  transform: translateY(120px) rotate(1.5deg);
}

.first:hover {
  animation-name: shakeIt_first;
  animation-duration: 3000ms;
}

.second {
  position: absolute;
  top: 400px;
  left: 300px;
  transform: rotate(-8deg);
}

.second:hover {
  animation-name: shakeIt_second;
  animation-duration: 3000ms;
}

.third {
  position: absolute;
  top: 400px;
  left: 1000px;
  transform: rotate(4deg);
}

.third:hover {
  animation-name: shakeIt_third;
  animation-duration: 3000ms;
}

.tape {
  position: relative;
  text-align: center;
  margin: auto;
  transform: rotate(-20deg) translate(10px,-30px);
  background-color: #ECECEC;
  width: 80px;
  height: 40px;
  z-index: 1;
}

.second-tape {
  transform: rotate(60deg) translate(-35px, -10px);
}

.third-tape {
  transform: rotate(-45deg) translate(20px, -20px);
}

#first__img {
  transform: translate(4.5px, -36px);
  width: 260px;
  height: 250px;
}

#second__img {
  transform: translate(4.5px, -36px);
  width: 260px;
  height: 250px;
}

#third__img {
  transform: translate(55px, 0px);
  width: 150px;
  height: 150px;
}

.card__content {
  display: inline-block;
  font-size: 11px;
  transform: translate(100px, -40px);
}

